<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Все категории</title>
</head>
<body>
    <h1>News_Portal_by_ShVS</h1>


    <nav>
        <h2>Все категории</h2>
        <ul>
            <li><a href="{% url 'all_posts' %}">Все категории</a></li>
            {% for category in categories %}
                <li><a href="{% url 'posts_by_category' category.id %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </nav>


    <section>
        {% if posts %}
            <ul>
                {% for post in posts %}
                    <li>
                        <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                        <p>{{ post.text|slice:":124" }}...</p>
                        <p><strong>Author:</strong> {{ post.author.user.username }}</p>
                        <p><strong>Rating:</strong> {{ post.rating }}</p>
                        <p><strong>Created:</strong> {{ post.created_at }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No posts available at the moment.</p>
        {% endif %}
    </section>
</body>
</html>
