{% extends 'default.html' %}
<html lang="en">
{% load censor %}
<html>
<head>
    <title>Новости</title>
</head>
<body>
    <h1>Список новостей</h1>
    <ul>
        {% for post in posts %}
            <li>
                <strong>{{ post.title }}</strong>: {{ post.preview }}
                <br>Автор: {{ post.author.user.username }}
                <br>Рейтинг: {{ post.rating }}
                <br>Дата: {{ post.created_at }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
