{% extends "base.html" %}

{% block content %}
<h1>Модерация новостей, статей и постов</h1>


{% if perms.news.add_news %}
    <a href="{% url 'news_create' %}">Добавить новость</a>
{% else %}
    <p style="color: red;">У вас нет прав на добавление новостей.</p>
{% endif %}


{% if perms.news.add_post %}
    <a href="{% url 'post_create' %}">Добавить пост</a>
{% else %}
    <p style="color: red;">У вас нет прав на добавление постов.</p>
{% endif %}


<h2>Новости</h2>
<ul>
    {% for item in news %}
        <li>
            <h3>{{ item.title }}</h3>
            <p><strong>Автор:</strong> {{ item.author }}</p>
            <p><strong>Дата публикации:</strong> {{ item.published_date }}</p>

            {% if perms.news.change_news %}
                <a href="{% url 'content_edit_delete' 'news' item.pk %}">Редактировать / Удалить</a>
            {% else %}
                <p style="color: red;">У вас нет прав на редактирование этой новости.</p>
            {% endif %}
        </li>
    {% empty %}
        <li>Нет новостей.</li>
    {% endfor %}
</ul>


<h2>Посты</h2>
<ul>
    {% for post in posts %}
        <li>
            <h3>{{ post.title }}</h3>
            <p><strong>Автор:</strong> {{ post.author }}</p>
            <p><strong>Дата публикации:</strong> {{ post.created_at }}</p>

            {% if perms.news.change_post %}
                <a href="{% url 'content_edit_delete' 'post' post.pk %}">Редактировать / Удалить</a>
            {% else %}
                <p style="color: red;">У вас нет прав на редактирование этого поста.</p>
            {% endif %}
        </li>
    {% empty %}
        <li>Нет постов.</li>
    {% endfor %}
</ul>


<a href="{% url 'all_posts' %}">На главную</a>
{% endblock %}
