{% extends 'default.html' %}
{% block content %}
<h1>Модерация новостей, статей и постов</h1>
<a href="{% url 'news_create' %}">Добавить новость</a>
<a href="{% url 'post_create' %}">Добавить пост</a>
<ul>
    <h2>Новости</h2>
    {% for item in news %}
        <li>
            <h3>{{ item.title }}</h3>
            <p><strong>Автор:</strong> {{ item.author }}</p>
            <p><strong>Дата публикации:</strong> {{ item.published_date }}</p>
            <a href="{% url 'content_edit_delete' 'news' item.pk %}">Редактировать / Удалить</a>
        </li>
    {% endfor %}
</ul>
<ul>
    <h2>Посты</h2>
    {% for post in posts %}
        <li>
            <h3>{{ post.title }}</h3>
            <p><strong>Автор:</strong> {{ post.author }}</p>
            <p><strong>Дата публикации:</strong> {{ post.created_at }}</p>
            <a href="{% url 'content_edit_delete' 'post' post.pk %}">Редактировать / Удалить</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
