<!DOCTYPE html>
{% block content %}
<h1>Поиск новостей</h1>

<form method="get" action="{% url 'news_list' %}">
    <input type="text" name="title" placeholder="Название" value="{{ request.GET.title|default:'' }}">
    <input type="text" name="author" placeholder="Автор" value="{{ request.GET.author|default:'' }}">
    <input type="date" name="date" value="{{ request.GET.date|default:'' }}">
    <button type="submit">Поиск</button>
</form>

    <h4>{{ item.title }}<a href="{% url 'news_list' %}" >Обратно к списку новостей</a></h4>
{% endblock %}


