<!DOCTYPE html>
<html lang="en">
{% load censor %}
<head>
    <meta charset="UTF-8">
    <title>Posts by Category</title>
</head>
<body>
    <h1>Posts in Category: {{ category.name }}</h1>


    <nav>
        <ul>
            <li><a href="{% url 'all_posts' %}">На главную</a></li>
            {% for category in Category.objects.all %}
                <li><a href="{% url 'posts_by_category' category.id %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </nav>


    <ul>
        {% for post in posts %}
            <li>
                <h2>{{ post.title }}</h2>
                <p>{{ post.text|slice:":124" }}...</p>
                <p>Author: {{ post.author.user.username }}</p>
                <p>Rating: {{ post.rating }}</p>
                <p>Likes: {{ post.rating }}</p>
            </li>
        {% endfor %}
    </ul>

{% if user.is_authenticated %}
    {% if user in category.subscribers.all %}
        <form action="{% url 'subscribe_to_category' category.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Отписаться</button>
        </form>
    {% else %}
        <form action="{% url 'subscribe_to_category' category.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Подписаться</button>
        </form>
    {% endif %}
{% endif %}

</body>
</html>
