<!DOCTYPE html>
<html lang="en">
{% load censor %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Портал новостей{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Портал новостей</h1>
        <nav>
            <p><a href="{% url 'all_posts' %}">Обратно к категориям</a></p>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
